<div ng-controller="MarkerpopupCtrl" ng-cloak>
  <h3>{{nom}}</h3>
  <p>{{resume}}</p>
  <img ng-if="photo" class="markerpopup" src="{{photo}}">


  <a target="_blank" href="{{site}}">Site</a>
  <a target="_blank" href="{{wiki}}">Wiki</a>

  <span ng-show="walkingTime">
    <h4>Temps :</h4>
    <p>A pied : {{walkingTime}}({{walkingDistance}})</p>
    <p>En voiture : {{drivingTime}}({{drivingDistance}})</p>
    <p>En vélo : {{bicyclingTime}}({{bicyclingDistance}})</p>
    <p>En transport en commun : {{transitTime}}({{transitDistance}})</p>
  </span>
</div>
